{% extends 'backend/add_article.html' %}
{% block btn %}
    <el-button
            id="edit_info"
            data_title="{{ article_obj.title }}"
            data_abstract="{{ article_obj.abstract }}"
            data_pwd="{{ article_obj.pwd }}"
            data_pwd_activity="{{ article_obj.pwd_activity }}"
            data_category="{{ article_obj.category }}"
            data_tags="{{ tags }}"
            data_cover_id="{{ article_obj.cover.nid }}"
            data_cover_url="{{ article_obj.cover.url.url }}"
            data_recommend="{{ article_obj.recommend }}"
            type="danger" @click="add_drawer=true">编辑信息
    </el-button>
{% endblock %}
{% block el_drawer %}
    <el-drawer
            title="文章信息"
            :visible.sync="add_drawer"
            direction="rtl"
            :size="max_dialog_width"
            :before-close="add_handleClose">
        <div class="add_el_drawer_content">
            <el-collapse v-model="add_article_activeNames" accordion>
                <el-collapse-item title=文章标题 name="1">
                    <el-input v-model="title" placeholder="请输入文章标题"></el-input>
                </el-collapse-item>
                <el-collapse-item title=文章简介 name="2">
                    <el-input
                            type="textarea"
                            :rows="5"
                            resize="none"
                            placeholder="文章简介内容(不填默认截取正文前30个字符)"
                            v-model="abstract">
                    </el-input>
                </el-collapse-item>
                <el-collapse-item class="category_tags" title="文章分类与标签" name="3">
                    <el-select v-model="category_id" class="category" allow-create filterable clearable placeholder="请选择文章分类">
                        {% for category in category_list %}
                            <el-option
                                    label="{{ category.1 }}"
                                    value="{{ category.0 }}">
                            </el-option>
                        {% endfor %}
                    </el-select>
                    <el-select
                            v-model="tags"
                            class="tag"
                            multiple
                            filterable
                            allow-create
                            default-first-option
                            collapse-tags
                            style="margin-left: 20px;"
                            placeholder="请选择文章标签">
                        {% for tag in tag_list %}
                            <el-option
                                    label="{{ tag.title }}"
                                    value="{{ tag.nid }}">
                            </el-option>
                        {% endfor %}
                    </el-select>
                </el-collapse-item>
                <el-collapse-item class="article_cover" title="文章封面" name="4">
                    <div class="left">
                        <img id="cover_img" data="{{ c_l }}" src="/media/article_img/1.png" alt="">
                    </div>
                    <div class="right">
                        <el-select popper-class="select_cover" @change="select_cover" v-model="cover_id" placeholder="请选择文章封面">
                            {% for cover in cover_list %}
                                <el-option
                                        label="{{ cover.url.url }}"
                                        value="{{ cover.nid }}">
                                <img src="{{ cover.url.url }}" alt="">
                                </el-option>
                            {% endfor %}
                        </el-select>
                    </div>
                </el-collapse-item>
                <el-collapse-item class="can_choose_" title="文章可选设置" name="5">
                    <el-switch
                            style="display: block"
                            v-model="recommend"
                            active-color="#13ce66"
                            inactive-color="#ff4949"
                            active-text="推荐"
                            inactive-text="">
                    </el-switch>
                    <el-switch
                            v-model="pwd_activity"
                            active-text="加密"
                            inactive-text="">
                    </el-switch>
                    <el-input v-show="pwd_activity" v-model="pwd" placeholder="请输入加密密码"></el-input>
                </el-collapse-item>
            </el-collapse>
            <div class="article_btn_list">
                <el-button @click="edit_article('{{ article_obj.nid }}')" type="danger" round>确认修改</el-button>
            </div>
        </div>
    </el-drawer>
{% endblock %}


{% block txtarea %}
    <textarea style="display: none;">{{ article_obj.content }}</textarea>
{% endblock %}