@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
body #app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89)); /*背景设置渐变*/
  align-items: center;
}

main {
  width: 1000px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  background: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* 给盒子加阴影 */
  transition: 0.5s;
}

.right {
  width: 45%;
}
.right .header {
  width: 100%;
  height: 15%;
  margin: 20px 40px;
}
.right .header h2 {
  margin-bottom: 15px;
}
.right .header a {
  text-decoration: none;
  color: rgb(235, 0, 255);
}
.right .login_forms {
  margin: 30px 40px;
}
.right .login_forms .login_forms_input {
  width: 100%;
  margin: 15px 0;
}
.right .login_forms .login_forms_input .form_input input {
  width: 100%;
  padding: 8px 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.right .login_forms .login_forms_input .form_input input:focus {
  border-style: solid;
  border-color: #03a9f4;
  box-shadow: 0 0 15px #03a9f4;
}
.right .login_forms .login_forms_input .form_input .login_code {
  width: 109%;
  display: flex;
  justify-content: space-between;
}
.right .login_forms .login_forms_input .form_input .login_code input {
  width: 125%;
}
.right .login_forms .login_forms_input .form_input .login_code img {
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  height: 34px;
  border: 1px solid #ff00ff;
}
.right .login_forms .login_forms_input .flex {
  margin: 15px 0 0 -4px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right .login_forms .login_forms_input .flex a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.right .login_forms .login_forms_input .flex .remember {
  display: flex;
  align-items: center;
}
.right .login_forms .login_forms_input .flex .remember input {
  margin-right: 5px;
}
.right .login_forms .login_forms_input .flex .forgot {
  margin-right: -9%;
}
.right .login_forms .login_forms_input .login_button {
  text-align: center;
}
.right .login_forms .login_forms_input .login_button button {
  /* 相对定位 */
  position: relative;
  right: 50%;
  width: 30%;
  padding: 8px 15px;
  border: none;
  margin: 20px 0 0 89%;
  outline: none;
  cursor: pointer;
  color: #fff;
  /* 渐变背景 */
  background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
  /* 背景渐变色大小 */
  background-size: 400%;
  /* 圆角 */
  border-radius: 5px;
  z-index: 1;
  /* 定义动画 */
}
.right .login_forms .login_forms_input .login_button button:before {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #03a9f4, #f441a5, #ffeb3b, #09a8f4);
  /* 背景渐变色大小 */
  background-size: 400%;
  /* 圆角 */
  border-radius: 5px;
  z-index: -1;
  /* 设置模糊度 显示发光效果 */
  filter: blur(20px);
}
.right .login_forms .login_forms_input .login_button button:hover {
  /* 动画: 名称 时间  infinite是无限次播放 */
  animation: streamer 8s infinite;
}
.right .login_forms .login_forms_input .login_button button:hover:before {
  animation: streamer 8s infinite;
}
@keyframes streamer {
  100% {
    background-position: -400% 0;
  }
}
.right .login_other {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.right .login_other .other_text > p {
  font-size: 14px;
  color: #808595;
}
.right .login_other .other_text::before {
  position: absolute;
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background: linear-gradient(to left, rgba(235, 0, 255, 0.9), rgba(17, 166, 233, 0.9)); /*背景设置渐变*/
  left: 9%;
  top: 15%;
}
.right .login_other .other_text::after {
  position: absolute;
  content: "";
  display: block;
  width: 160px;
  height: 1px;
  background: linear-gradient(to left, rgba(235, 0, 255, 0.9), rgba(17, 166, 233, 0.9)); /*背景设置渐变*/
  right: 2%;
  top: 15%;
}
.right .login_other .other_image {
  margin-top: 20px;
}
.right .login_other .other_image img {
  width: 30px;
  margin-right: 10px;
}
.right .login_other .other_image img:last-child {
  margin-right: 0;
}

.left {
  width: 55%;
  height: 100%;
  background: linear-gradient(rgba(235, 0, 255, 0.9), rgba(17, 166, 233, 0.9));
  left: 0;
  color: #fff;
  clip-path: polygon(0 0%, 100% 0%, 86% 34%, 0% 239%, 0% -1%);
}
.left .text {
  width: 60%;
  left: 0;
  padding: 30px;
  margin-top: 30px;
  text-align: right;
}
.left .text p {
  font-size: 12px;
}
.left .text h2 {
  font-size: 34px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=login.css.map */
